# Binaries
bin/
*.exe
*.out

# Build
build/

# Environment
.env

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log

# GitHub Actions self-hosted runner
actions-runner/

#vagrant
.vagrant/

/argocd/repo-secrets.yaml